.Answers
{
  // insert Answers scss here e.g.
  //&-nav {
  //  padding-top: 32px;
  //}
  .HitchhikerFaqAccordion-details ul,
  .HitchhikerFaqAccordion-details ol
  {
    list-style-position: outside;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }

  .HitchhikerFaqAccordion-details li 
    {
    margin-bottom: 0;
    }

  .yxt-FilterOptions-optionLabel:before
  {
    background-color: white;
  }
}
